﻿<!DOCTYPE html>
<html>
  <head>
    <title>Візуалізація</title>
      <link rel='stylesheet' href='lib/bootstrap.min.css' />

      <link rel='stylesheet' href='stylesheets/style.css' />

  </head>
  <body>
   <div class="container" ng-app="myApp" ng-controller="indexCtrl">
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="sel1">Тестова функція</label>
                        <select class="form-control" id="sel1" ng-model="curFunc">
                            <!--<option value="">Виберіть функцію</option>-->
                            <option value="f15">Тестова функція Деба 1 </option>
                            <option value="f16">Тестова функція Деба 2 </option>
                            <option value="f18">Тестова функція Деба 3  </option>
                            <option value="f19">Тестова функція Деба 4 </option>
                            <option value="f20">Функція Растригіна  </option>
                            <option value="f22">Узагальнена функція Грайвонка</option>
                            <option value="f24">Узагальнена функція Шуберта</option>



                        </select>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label >Метод </label>
                        <select class="form-control" name="sdsd"  ng-model="gen.strategy"  >
                            <option value="" selected>найближчий-серед-найгірших-2</option>
                            <option value="1">найгірший-серед-найближчих</option>

                        </select>
                    </div>
                </div> <div class="col-xs-4">
                <div class="form-group">
                    <label for="sel1">Розмірність </label>
                    <select class="form-control" id="sel2"  ng-model="curDim" ng-options="dimension for dimension in dimensions" >

                    </select>
                </div>
            </div>

                <div class="col-xs-4">
                    <div class="form-group">
                        <label >Розмір популяції </label>
                        <input class="form-control" type="number" ng-model="gen.size" placeholder="Розмір популяції" />

                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label >Ймов. кросинг. p<sub>c</sub> </label>
                        <input class="form-control"  type="number" step="0.1" min="0"  max="1" ng-model="gen.crossover" placeholder="Ймов. кросинг." />

                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label >Ймов. мутації p<sub>m</sub></label>
                        <input  class="form-control" type="number" step="0.1" max="1" min="0" ng-model="gen.mutation" placeholder="Ймов. мутації" />

                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label >Розрив покоління </label>
                        <input  class="form-control" type="number"   step="0.1" max="1" min="0" ng-model="gen.GG" placeholder="Розрив покоління" />

                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="form-group">
                        <label >Сrowding factor <sub>c</sub>f</label>
                        <input  class="form-control" type="number"   ng-model="gen.CF" placeholder="Сrowding factor" />

                    </div>
                </div>

            </div>
        </div>

        <div class="col-xs-6">

            <h1 class="text-center">Тестова функція Деба 1 </h1>
            <span style="font-size: 30px;">Покоління № <span id="cur"></span> з <span id="total"></span> </span>
            <button class="btn btn-primary btn-big pull-right  " id="f15">Start </button>

        </div>
        <div class="col-xs-12"  ng-show="curDim==1">
            <div id="myDiv" style="width: 100%; height: 400px; padding: 70px; padding-bottom: 0px; padding-top: 0px"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>

        <div class="col-xs-12">
            <div id="3d" ng-show="curDim==2" style="width: 100%; height: 800px; padding: 10px;"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>

    </div>

    <script src="lib/jquery.min.js"></script>

    <script src="lib/plotly.min.js"></script>
    <script src="lib/angular.min.js"></script>

    <script src="javascripts/index.js"></script>
        <script src="javascripts/test.js"></script>
       <script src="javascripts/visual.js"></script>
       <script src="lib/genetic.js"></script>
       <script src="javascripts/solver.js"></script>

    <script src="lib/async.min.js"></script>
</div>


  </body>


</html>
