﻿<!DOCTYPE html>
<html>
  <head>
    <title>Cтатистика: найближчий-серед-найгірших-2</title>
      <link rel='stylesheet' href='lib/bootstrap.min.css' />

      <link rel='stylesheet' href='stylesheets/style.css' />

  </head>
  <body>
  <div class="container" ng-app="myApp" ng-controller="indexCtrl">
      <div class="row">
          <div class="col-xs-3">
              <div class="form-group">
                  <label for="sel1">Тестова функція</label>
                  <select class="form-control" id="sel1">
                      <option value="f15">Тестова функція Деба 1</option>
                      <option value="f16">Тестова функція Деба 2</option>
                      <option value="f18">Тестова функція Деба 3</option>
                      <option value="f19">Тестова функція Деба 4</option>
                      <option value="f20">Функція Растригіна</option>
                      <!--<option value="f22">Узагальнена функція Грайвонка</option>-->
                      <option value="f24">Узагальнена функція Шуберта</option>
                  </select>
              </div>

          </div>
          <div class="col-xs-2">
              <div class="form-group">
                  <label for="sel1">Розмірність </label>
                  <select class="form-control" id="sel2"  ng-model="curDim" ng-options="dimension for dimension in dimensions" >

                  </select>
              </div>
          </div>
          <div class="col-xs-4">
              <h3>
                  <span class="test-func">Тестова функція Деба 1</span>, n={[{curDim}]}

              </h3>
          </div>
          <div class="col-xs-3">
              <h3>

              <span class="test-func"> найближчий-серед-найгірших-2</span>
                  </h3>

          </div>
      </div>
      <div class="row">



          <div class="col-xs-12">
              <table class="table table-bordered" >
                  <thead>
                  <tr>
                      <th  colspan="5">
                          Конфігурація алгоритму
                      </th>
                      <th  colspan="12"  class="text-center">
                          По всіх прогонах
                      </th>
                  </tr>
                  <tr>
                      <th >N</th>
                      <th >p<sub>m</sub></th>

                      <th >p<sub>с</sub></th>

                      <th >c<sub>f</sub></th>
                      <th >GG</th>
                      <th>all peaks found %</th>
                      <th>avg peaks found</th>
                      <th>NFE avg.</th>
                      <th>NP avg.</th>
                      <th>PR avg.</th>
                      <th>PA avg.</th>
                      <th>DA avg.</th>
                      <th>NFE best</th>
                      <th>NP best</th>
                      <th>PR best</th>
                      <th>PA best</th>
                      <th>DA best</th>


                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="config in configs">
                      <td >{[{config.size}]}</td>

                      <td >{[{config.mutation}]}</td>
                      <td >{[{config.crossover}]}</td>

                      <td >{[{config.CF}]}</td>
                      <td >{[{config.GG}]}</td>
                      <td>{[{allStats[$index].all_peaks_found }]}</td>
                      <td>{[{allStats[$index].NP_a }]}</td>
                      <td>{[{allStats[$index].NFE_a | number:2}]}</td>
                      <td>{[{allStats[$index].NP_a | number:2}]}</td>
                      <td>{[{allStats[$index].PR_a | number:2}]}</td>
                      <td>{[{allStats[$index].PA_a | number:2}]}</td>
                      <td>{[{allStats[$index].DA_a | number:2}]}</td>
                      <td>{[{allStats[$index].NFE_b }]}</td>
                      <td>{[{allStats[$index].NP_b}]}</td>
                      <td>{[{allStats[$index].PR_b | number:2}]}</td>
                      <td>{[{allStats[$index].PA_b | number:2}]}</td>
                      <td>{[{allStats[$index].DA_b | number:2}]}</td>

                  </tr>

                  </tbody>
              </table>

          </div>
          <div class="col-xs-6" ng-repeat=" iteration in stats">


              <table class="table table-bordered" >
                  <thead>
                  <tr>
                      <th  colspan="5" ng-if="$index==0">
                          Конфігурація алгоритму
                      </th>
                      <th  colspan="6"  class="text-center">
                          Прогін {[{$index+1}]}
                      </th>
                  </tr>
                  <tr>
                      <th ng-if="$index==0">N</th>
                      <th ng-if="$index==0">p<sub>m</sub></th>
                      <th ng-if="$index==0">p<sub>c</sub></th>

                      <th ng-if="$index==0">c<sub>f</sub></th>
                      <th ng-if="$index==0">GG</th>

                      <th>NFE</th>
                      <th>NP</th>
                      <th>Real</th>

                      <th>PR</th>

                      <th>PA</th>
                      <th>DA</th>


                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="config in configs">
                      <td ng-if="$parent.$index==0">{[{config.size}]}</td>

                      <td ng-if="$parent.$index==0">{[{config.mutation}]}</td>
                      <td ng-if="$parent.$index==0">{[{config.crossover}]}</td>

                      <td ng-if="$parent.$index==0">{[{config.CF}]}</td>
                      <td ng-if="$parent.$index==0" >{[{config.GG}]}</td>
                      <td>{[{iteration[$index].NFE }]}</td>
                      <td>{[{iteration[$index].number_of_peaks }]}</td>
                      <td>{[{iteration[$index].real_peaks }]}</td>


                      <td>{[{iteration[$index].effective_number | number:2}]}</td>
                      <td>{[{iteration[$index].peak_accuracy | number:2}]}</td>
                      <td>{[{iteration[$index].distance_accuracy | number:2}]}</td>

                  </tr>

                  </tbody>
              </table>
          </div>

          <hr/>

          <div class="col-xs-12">
              <table class="table table-bordered" >
                  <thead>
                  <tr>
                      <th  colspan="5">
                          Конфігурація алгоритму
                      </th>
                      <th  colspan="12"  class="text-center">
                          Середнє значення критеріїв для заданої конфігурації
                      </th>

                  </tr>
                  <tr>
                      <th >N</th>
                      <th >p<sub>m</sub></th>

                      <th >p<sub>с</sub></th>

                      <th >c<sub>f</sub></th>
                      <th >GG</th>
                      <th>all peaks found %</th>
                      <th>avg peaks found</th>
                      <th>NFE avg.</th>
                      <th>NP avg.</th>
                      <th>PR avg.</th>
                      <th>PA avg.</th>
                      <th>DA avg.</th>
                      <th>NFE best</th>
                      <th>NP best</th>
                      <th>PR best</th>
                      <th>PA best</th>
                      <th>DA best</th>


                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="config in configs">
                      <td >{[{config.size}]}</td>

                      <td >{[{config.mutation}]}</td>
                      <td >{[{config.crossover}]}</td>

                      <td >{[{config.CF}]}</td>
                      <td >{[{config.GG}]}</td>
                      <td>{[{local[$index].all_peaks_found  }]}</td>
                      <td>{[{local[$index].NP_a  | number:2}]}</td>
                      <td>{[{local[$index].NFE_a | number:2}]}</td>
                      <td>{[{local[$index].NP_a | number:2}]}</td>
                      <td>{[{local[$index].PR_a | number:2}]}</td>
                      <td>{[{local[$index].PA_a | number:2}]}</td>
                      <td>{[{local[$index].DA_a | number:2}]}</td>
                      <td>{[{local[$index].NFE_b }]}</td>
                      <td>{[{local[$index].NP_b}]}</td>
                      <td>{[{local[$index].PR_b | number:2}]}</td>
                      <td>{[{local[$index].PA_b | number:2}]}</td>
                      <td>{[{local[$index].DA_b | number:2}]}</td>




                  </tr>

                  </tbody>
              </table>

          </div>
          <div class="col-xs-12">
              <table class="table table-bordered" >
                  <thead>
                  <tr>
                      <th  colspan="5">
                          Конфігурація алгоритму
                      </th>

                      <th  colspan="12"  class="text-center">
                          Найкраще значення критеріїв для заданої конфігурації
                      </th>
                  </tr>
                  <tr>
                      <th >N</th>
                      <th >p<sub>m</sub></th>

                      <th >p<sub>с</sub></th>

                      <th >c<sub>f</sub></th>
                      <th >GG</th>
                      <th>all peaks found %</th>
                      <th>avg peaks found</th>
                      <th>NFE avg.</th>
                      <th>NP avg.</th>
                      <th>PR avg.</th>
                      <th>PA avg.</th>
                      <th>DA avg.</th>
                      <th>NFE best</th>
                      <th>NP best</th>
                      <th>PR best</th>
                      <th>PA best</th>
                      <th>DA best</th>


                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="config in configs">
                      <td >{[{config.size}]}</td>

                      <td >{[{config.mutation}]}</td>
                      <td >{[{config.crossover}]}</td>

                      <td >{[{config.CF}]}</td>
                      <td >{[{config.GG}]}</td>
                      <td>{[{max[$index].all_peaks_found }]}</td>
                      <td>{[{max[$index].NP_a }]}</td>
                      <td>{[{max[$index].NFE_a | number:2}]}</td>
                      <td>{[{max[$index].NP_a | number:2}]}</td>
                      <td>{[{max[$index].PR_a | number:2}]}</td>
                      <td>{[{max[$index].PA_a | number:2}]}</td>
                      <td>{[{max[$index].DA_a | number:2}]}</td>
                      <td>{[{max[$index].NFE_b }]}</td>
                      <td>{[{max[$index].NP_b}]}</td>
                      <td>{[{max[$index].PR_b | number:2}]}</td>
                      <td>{[{max[$index].PA_b | number:2}]}</td>
                      <td>{[{max[$index].DA_b | number:2}]}</td>



                  </tr>

                  </tbody>
              </table>

          </div>

      </div>
  </div>

  <script src="lib/angular.min.js"></script>
  <script src="lib/data.js"></script>

  <script src="javascripts/statsCtrl.js"></script>
  <script src="lib/jquery.min.js"></script>


  </body>


</html>
